{% extends "layout.html" %}
{% from "macros.html" import article with context %}
{% block head %} 
<script src="https://cdn.tiny.cloud/1/2kk2n5fh7418iw24v2hoick9me1kgrq365kchr2lvcu250s6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: 'textarea',
      skin: 'oxide-dark',
      content_css: "dark",
      width: '100%',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });
  </script>
<script>
     tinymce.init({
      selector: 'textarea#comment',
      skin: 'oxide-dark',
      content_css: "dark",
      width: '100%',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });

</script>
{% endblock %} 
{% block title %} Home {% endblock %}

{% block splash %}
<!-- Hero -->
<div class="p-0 text-center bg-image rounded-3" style="
    height: 400px;">
  <div class="mask w-100 h-100" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Developer Blog</h1>
        <h4 class="mb-3">Matan Morse</h4>
        <a class="btn btn-outline-light btn-lg" href="#">Visit my site</a>
        {% if current_user.is_admin() %} 
        <a class="btn btn-outline-light btn-lg" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" role="button">Add a post</a>
        </div>

      {% endif %}
  
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
<div class="collapse" id="collapseExample">
    <form method="POST" action="/addpost">
        <label for="title" class="mb-1">Title:</label>
        <input style="width:60%" id="title" name="title" type="text" class="mx-auto form form-control mb-2">
        <textarea class="mx-auto" name="postcontent" id="mytextarea">
            <p>This is some sample content</p>
        </textarea>
        <button class="my-3 btn btn-outline-light" type="submit">Post</button>
    </form>
</div>
</div>
<!-- Hero -->
{% endblock %} 


{% block main %} 
{% with messages = get_flashed_messages() %} 
{% if messages %} 
    <div class="alert alert-warning">
        {{ messages[0] }}
    </div>
    {% endif %} 
{% endwith %}

<div class="container text-white">
    <div class="mb-3 row h-100" style="background-color: white;">
        <div class=" col-lg">
        </div>
    </div>

    <!-- the interface to make a new post -->
    
    <!-- Each of these is for a single post-->
    {% for post in posts %}
    <!-- Create a new row -->
    <div class="mb-3 row">
        <div class="col-sm">
            {{ article(post, mode="home") }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 

