{% macro comments(post) %}

<div class="mt-2 comment mb-3 text-left text-white">
    <h4 style="text-align:left;">Comments: </h4>
    {% for comment in post.comments | sort(attribute='created_at', reverse=True) %} 
    <hr>
        <div class="post-top w-100 d-inline-flex align-items-center">

            <p class="mb-0">Posted by&nbsp<p class="m-0 p-0 highlight-text">{{ comment.user_id | username_from_id }}</p>&nbspon&nbsp<p class="p-0 m-0 highlight-text">{{ comment.created_at | format_datetime }}</p></p>
            {% if current_user.owns_comment(comment) %}
                <!-- remove button -->
                <a class="button" style="margin-left:auto;" >
                    <i style="cursor:pointer" data-toggle="modal" data-target="#modal{{ comment.id }}" class="fa-solid fa-xmark"></i>
                </a>
            {% endif %}    
        </div>
    <div class="text-left">
            {{ comment.post_content | safe }}
    </div>

<!-- comment Modal -->
<div class="modal fade" id="modal{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-black">
                <h5 class="modal-title" id="exampleModalLabel">Delete comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-black">
                <p> Are you sure you want to delete this comment? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="/delcomment/{{ comment.id }}">
                    <button type="button" class="btn btn-primary">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endmacro %} 

{% macro article(post, mode) %} 
<article class="text-white"> 
    <div class="post-top w-100 d-inline-flex align-items-center">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if current_user.owns_post(post) %}
        <!-- remove button -->
        <a style="margin-left: auto"  class="button">
            <i style="margin-left:auto; cursor:pointer" data-toggle="modal" data-target="#modal{{ post.title | no_spaces }}" class="fa-solid fa-xmark"></i>
        </a>
        {% endif %}
    </div>
    <h6>Posted on {{ post.created_at | format_datetime }}</h6>    
    {{ post.post_content | safe }} 
 

    
    <!-- Reader mode button -->
    <div class="d-flex align-items-center justify-content-end p-0 mt-3">
        <!-- like button -->
        <!-- if user has liked -->
        
        <p class="mb-0" style="margin-right:auto">
            <a class="btn btn-sm btn-outline-light" data-bs-toggle="collapse" href="#comment{{ post.title | no_spaces }}" role="button" aria-expanded="false" aria-controls="comment">
                Add comment:
            </a>
        </p>
        {% if mode == "reader" %}
        <a class="mx-2" href="/">
            <button class="btn btn-sm btn-outline-light mr-auto">Home</button>
        </a>
        {% elif mode == "home" %} 
        <a class="mx-2" href="/reader/{{ post.title | no_spaces }}">
            <button class="btn btn-sm btn-outline-light mr-auto">Comments --></button>
        </a>
        {% endif %}

        <div class="d-inline-flex align-items-center">   
            {% if post.likes %}
            <p class="p-0 m-0">{{ post.likes | count }}</p>
            {% endif %}    
            {% if hasuserliked(post) %}
            <a href="/like/{{ post.title | no_spaces }}">
                <i class="red fa-lg mx-1 fa-solid fa-heart"></i>
            </a>             
            {% else %} 
            <a href="/like/{{ post.title | no_spaces }}">
                <i class="fa-lg mx-1 fa-solid fa-heart"></i>
            </a>             
            {% endif %}
        </div>
    </div>

    <div class="text-center mt-3 collapse" id="comment{{ post.title | no_spaces}}">
        <form action="/addcomment/{{ post.title }}" method="POST">
            <div>
                <textarea class="comment" id="comment" name="comment"></textarea>
            </div>
            <button type="submit" class="mt-2 btn btn-outline-light">Post</button>
        </form>
      </div>

    </article>
    {% if mode=='reader' %} 
        {% if post.comments %}
            {{ comments(post) }}    
        {% endif %}
    {% endif %}


<!-- Post Modal -->
<div class="modal fade" id="modal{{ post.title | no_spaces}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-black">
        <h5 class="modal-title" id="exampleModalLabel">Delete post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body text-black">
        <p> Do you want to delete post "{{ post.title }}"? </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <a href="/delpost/{{ post.title | no_spaces }}">
            <button type="button" class="btn btn-primary">Yes</button>
        </a>
        </div>
    </div>
    </div>
    </div>
{% endmacro %}


