body{
  background-image: url(images/background.jpg);
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h3, label {
  text-shadow: 0px 0px 8px rgb(0 0 0 / 40%);
  color: white;
}

.justify-end {
    justify-content: flex-end !important;
}

article {
  background-color: rgba(148, 143, 255, 0.8);   
  border:5px solid transparent;
  border-color: rgba(0,0,0,.5);
  padding: 1rem;
  text-align: left !important;
  border-radius: 10px;
}

.fab, .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display:inline !important;
  }
  
.fa-instagram {
  color: #E1306C;
}

.fa-github {
  color: whitesmoke;
}

.fa-heart {
  color:gray;
}
.nounderline {
  text-decoration: none;
}

.to-right {
  position: absolute;
  margin-right: auto;
  right: 10px;
  top: auto;
  top: 15px
}


.nav-item {
  font-size: 15pt;
  font-weight:600;
}

.mr-3 {
  margin-right: 3rem;
}

ul > li > a {
  text-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
  transition: all 2s; 
}

ul > li > a:hover {
  color: #F9EC88 !important;
}

.form-container {
  padding: 1rem;
  background-color: rgba(0,0,0,.2);
  border-radius: 10px; 
  max-width: 25rem;
}

.tox {
  border: none !important;
  margin-left: auto;
  margin-right:auto; 
}

.tox-editor-container {
  border-radius: 10px;
  width:50%;
}

.post-title {
  text-align: center;
}

.comment {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid transparent;
  border-color: rgba(0,0,0,.5);
  background-color: rgba(138, 43, 226, 0.4)
}

.post-content {
    padding: 1rem;
    border-radius: 5px;
    border: 3px solid transparent;
    border-color: rgba(0,0,0, .6);
}

.post-content > p, .comment > p {
  margin-bottom: 0;
}

hr {
  border-top: 2px dashed black;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none;
}

a.button {
  color:rgba(0,0,0, .6); 
}
.red {
    color:red;
}