body{
  background-image: url(images/background.jpg);
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,.5);
}

h1, h3, label {
  text-shadow: 0px 0px 8px rgb(0 0 0 / 40%);
  color: white;
}

.justify-end {
    justify-content: flex-end !important;
}

article {
  background-color:#8a2be2;   
  border:2px solid transparent;
  border-color: black;
  padding: 1rem;
}

.fab, .fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display:inline !important;
  }
  
.fa-instagram {
  color: #E1306C;
}

.fa-github {
  color: whitesmoke;
}
.nounderline {
  text-decoration: none;
}

.to-right {
  position: absolute;
  margin-right: auto;
  right: 10px;
  top: auto;
  top: 15px
}


.nav-item {
  font-size: 15pt;
  font-weight:600;
}

.mr-3 {
  margin-right: 3rem;
}

ul > li > a {
  text-shadow: 0px 0px 4px rgb(0 0 0 / 40%);
  transition: all 2s; 
}

ul > li > a:hover {
  color: #F9EC88 !important;
}

.form-container {
  padding: 1rem;
  background-color: rgba(0,0,0,.2);
  border-radius: 10px; 
  max-width: 25rem;
}

.tox {
  border: none !important;
  margin-left: auto;
  margin-right:auto; 
}

.tox-editor-container {
  border-radius: 10px;
  width:50%;
}
