.justify-center {
    justify-content: center !important;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display:inline !important;
  }
  
  .fa-instagram {
    color: white;
  }
  